/mutt/cache/
/mutt/certificates
/xmonad/history
/xmonad/xmonad-i386-linux
/xmonad/xmonad-x86_64-linux
/xmonad/xmonad.errors
/xmonad/xmonad.o
/xmonad/xmonad.hi
/w3m/cookie
/w3m/history
/w3m/w3mcache*
/w3m/w3msrc*
/mutt/profile.active
/centerim/j*
/centerim/pid
/bin/hg-prompt/prompt.pyc
/w3m/.arrived
/w3m/.cookie
/w3m/.sessions
/w3m/.textarea/
/xmonad/xmonad.hs
