/bin/eclipse
/bin/hg-prompt/prompt.pyc
/bin/lein
/bin/nb
/byobu/.screenrc
/byobu/.ssh-agent
/byobu/.tmux.conf
/byobu/.welcome-displayed
/centerim/j*
/centerim/pid
/config/Empathy/*
/config/LightTable/*
/config/Thunar/*
/config/Trolltech.conf
/config/Wuala.cfg
/config/akonadi/*
/config/audacious/*
/config/autostart/*
/config/cairo-compmgr/*
/config/calibre/*
/config/chromium/*
/config/compiz/*
/config/configstore/*
/config/dconf/user
/config/desktop-couch/*
/config/enchant/*
/config/f-spot/*
/config/f-spot/*
/config/fish/fish_history
/config/fish/fishd.*
/config/fish/generated_completions/*
/config/google-chrome/*
/config/gtk-2.0/*
/config/gtk-3.0/*
/config/gtk-3.0/bookmarks
/config/gtk-3.0/settings.ini b/config/gtk-3.0/settings.ini
/config/gxine/*
/config/htop/htoprc
/config/indicators/*
/config/inkscape/*
/config/kde.org/libphonon.conf
/config/libfm/*
/config/libreoffice/*
/config/menus/*
/config/midori/*
/config/monitors.xml
/config/nautilus/accels
/config/nautilus/desktop-metadata
/config/nitrogen/*
/config/openbox/*
/config/oxygen-gtk/argb-apps.conf
/config/pcmanfm/*
/config/pulse/cookie
/config/sakura/*
/config/smplayer/*
/config/softwarecenter/*
/config/sublime-text-2/*
/config/synaptiks/management.json
/config/synaptiks/touchpad-config.json
/config/synaptiks/touchpad-defaults.json
/config/tint2/*
/config/totem/*
/config/transmission/*
/config/ubuntu-ui-toolkit/*
/config/ubuntuone/*
/config/user-dirs.dirs
/config/user-dirs.locale
/config/vlc/vlc-qt-interface.conf
/config/vlc/vlcrc
/config/volumeicon/*
/config/xfce4/*
/emacs.d/#*
/emacs.d/#.newsrc-dribble#
/emacs.d/.DS_Store
/emacs.d/.cider-repl-history
/emacs.d/.directory
/emacs.d/.ditz-config
/emacs.d/.emacs.desktop
/emacs.d/.emacs.desktop.lock
/emacs.d/.newsrc-dribble
/emacs.d/.nnmail-cache
/emacs.d/.svn
/emacs.d/ac-comphist.dat
/emacs.d/anything-c-adaptive-history
/emacs.d/auto-save-list
/emacs.d/backups/*
/emacs.d/bm-repository
/emacs.d/bookmarks
/emacs.d/cider-repl-history
/emacs.d/cnb/init.el
/emacs.d/colbell.el
/emacs.d/custom.el
/emacs.d/ede-projects.el
/emacs.d/elim/
/emacs.d/elpa/*
/emacs.d/emacs-custom.el
/emacs.d/emacs.bmk
/emacs.d/emacsregisters.el
/emacs.d/helm-c-adaptive-history
/emacs.d/history
/emacs.d/image-dired/
/emacs.d/jabber-history/*
/emacs.d/loaddefs.el*
/emacs.d/oauth2.plstore
/emacs.d/places
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/recentf
/emacs.d/recentf~
/emacs.d/semanticdb/*
/emacs.d/session*
/emacs.d/sql_history
/emacs.d/tramp
/emacs.d/url/
/fonts/fonts.dir
/lein/indices/
/lein/repl-history
/lein/repl-port
/lein/self-installs/
/mutt/cache/
/mutt/certificates
/mutt/profile.active
/my.cnf
/w3m/.arrived
/w3m/.cookie
/w3m/.sessions
/w3m/.textarea/
/w3m/cookie
/w3m/history
/w3m/w3mcache*
/w3m/w3msrc*
/xmonad/history
/xmonad/xmonad-i386-linux
/xmonad/xmonad-x86_64-linux
/xmonad/xmonad.errors
/xmonad/xmonad.hi
/xmonad/xmonad.hs
/xmonad/xmonad.o
